<div class="footer_container">

    <div class="footer_top">
        <div class="footer_first">
            Online Store
        </div>
        <ul class="footer_second">
            <li><a href="" class="footer_link">Home</a></li>
            <li><a href="" class="footer_link">Products</a></li>
            <li><a href="" class="footer_link">Contact</a></li>
        </ul>

        <ul class="social_icons">
            <li><a href="#" class="footer_icon"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" class="footer_icon"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#" class="footer_icon"><i class="fab fa-github"></i></a></li>
        </ul>

    </div>
    <div class="footer_bottom" style="font-family: var(--rock);">
        © 2022 <a href="https://www.rohanchaulagain.com.np/" target="_blank"
            style="color: white;font-family: var(--rock);">Rohan Chaulagain.</a>
    </div>
</div>