<div class="features_container">
    <div class="features_left">
        <img src="../../assets/group.avif" alt="Why Online Store">
    </div>
    <div class="features_right">
        <div class="features_heading">
            Why
            <span class="topic">Online Store</span>.
        </div>
        <div class="features_desc">
            Why pick us? We're not your average store; we're an exhilarating retail
            extravaganza! Unleash your shopping desires with our vast array of
            top-notch products that cater to every taste and lifestyle.
        </div>
        <div class="quality">
            <div class="quality_inner_heading">
                <img src="../../assets/read.png" alt="check icon" class="png" /> Trendy
                products
            </div>
            <p>
                We update our store regularly so that our customers can find products
                according to their needs.
            </p>
        </div>
        <div class="quality">
            <div class="quality_inner_heading">
                <img src="../../assets/read.png" alt="check icon" class="png" /> Quality
                support
            </div>
            <p>
                We ensure that you do not feel difficulty and hence provide 24/7
                customer support.
            </p>
        </div>
        <div class="quality">
            <div class="quality_inner_heading">
                <img src="../../assets/read.png" alt="check icon" class="png" /> Order
                from any location
            </div>
            <p>Our delivery partners will reach out to you on your doorstep.</p>
        </div>
    </div>
</div>
<br />
<hr />