<div class="about_container">
    <div class="about_top">
        <div class="about_heading topic">What we serve</div>
        <div class="about_heading_big">
            Just sit back at home we will take care
        </div>
        <div class="about_desc">
            Shop with confidence on our cutting-edge ecommerce platform! Your safety
            is our priority with encrypted transactions, while our user-friendly
            design ensures a seamless shopping spree. Discover top-quality products,
            unbeatable deals, and friendly customer support. Unleash the joy of
            shopping, worry-free!
        </div>
    </div>
    <div class="about_bottom">
        <div class="about_inner">
            <div class="about_img">
                <img src="../../assets/fast.png" alt="Quick Delivery">
            </div>
            <div class="quick">
                <div class="quick_heading">Quick Delivery</div>
                <div class="quick_desc">
                    Speedy delivery to your doorstep, guaranteed making your shopping
                    dreams come true.!
                </div>
            </div>
        </div>
        <div class="about_inner">
            <div class="about_img">
                <img src="../../assets/customer_support.png" alt="Customer Support">
            </div>
            <div class="customer">
                <div class="customer_heading">24/7 Customer Support</div>
                <div class="customer_desc">
                    Dedicated customer support, just a click away! We're here to assist you at every step.
                </div>
            </div>
        </div>
        <div class="about_inner">
            <div class="about_img">
                <img src="../../assets/secure.png" alt="Secured user data">
            </div>
            <div class="secured">
                <div class="secured_heading">Secured User data</div>
                <div class="secured_desc">
                    Ironclad security for worry-free shopping. Your data is safe and protected with us.
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<hr>