<header>
    <a href="#"><img src="../../assets/logo.png" alt="logo" class="logo" /></a>

    <input type="checkbox" id="check" />
    <label for="check" class="icons">
        <i class="fa-solid fa-bars"></i>
    </label>

    <nav class="navbar">
        <a routerLink="" class="nav-item">Home</a>
        <a routerLink="" class="nav-item">About</a>
        <a routerLink="" class="nav-item">Products</a>
        <a routerLink="cart" class="nav-item">Cart</a>
        <a routerLink="" class="nav-item">Login</a>
    </nav>
</header>