<div class="testimonial">
    <div class="testimonital_left">
        <div class="testimonial_heading topic">Testimonial</div>
        <div class="customer_saying">
            What out <span class="topic">customers</span>
            are saying
        </div>
        <p>
        <div>
            Your feedback is the heartbeat of our success! We cherish every
            word you share, turning your voices into the driving force behind
            our constant evolution. Like a compass, your thoughts guide us
            towards perfection, ensuring we exceed your wildest expectations!
        </div>
        <br />
        <div>
            Your experiences are the brushstrokes that paint our canvas of
            improvement. With each comment, suggestion, and review, we refine
            and redefine, striving to create an extraordinary journey for you.
            Your satisfaction is our North Star, and your criticisms are our
            stepping stones to greatness. We embrace every challenge, turning
            setbacks into stepping stones to reach new heights of excellence.
        </div>
        <br />
        <div>
            Together, we weave a tapestry of trust and transparency. Your
            valuable insights empower us to tailor our services to your desires,
            making your dreams a tangible reality.
        </div>

    </div>
    <div class="testimonital_right">
        <img src="../../assets/testimonial.avif" alt="testimonial">
    </div>
</div>
<br>