<div class="home_container">
    <div class="home_left">
        <div class="home_heading">Easy way to make an order</div>
        <div class="home_heading_big">
            EXPERIENCE the <br> convenience of <span style="color: var(--bg); font-family: var(--rock);">online
                shopping</span>.
        </div>
        <div class="home_desc">
            We’re the one-stop shop for all your ecommerce needs and we offer the convenience of online shopping. Shop
            the way you
            want to!
        </div>
        <div class="home_cta">
            <button class="btn_primary order_now" style="margin-left: 0% !important;">
                Order now
            </button>
            <button (click)="addToCart()" class=" btn_secondary see_all_products">
                See all Products
            </button>
        </div>
        <div class="home_about_us">
            <div class="no_shipping">
                <div style="width: 10%;"><i class="fa-solid fa-car"></i></div>
                <div>No Shipping charge</div>
            </div>
            <div class="secure_checkout">
                <div style="width: 10%;"><i class="fa-solid fa-shield-halved"></i></div>
                <div>100% secure checkout</div>
            </div>
        </div>
    </div>
    <div class="home_right">
        <img src="../../assets/delivery.png" alt="delivery">
    </div>
</div>
<hr>
<br>
<app-about></app-about>
<app-all-products></app-all-products>
<app-features></app-features>
<app-testimonial></app-testimonial>
<br>
<app-footer></app-footer>